@import '~mapbox-gl/dist/mapbox-gl.css';

* {
  box-sizing: border-box;
}

#mapdiv {
  width: 100vw;
  height: 100vh;
}

.is-child{
  flex-wrap: wrap;
}

.container {
  margin: 20px;
}

img {
  width: 60px;
  height: 40px;
}

a {
  margin-left: 20px;
}

nav {
  padding-top: 10px;
}

.column {
  background-color: gray;
  margin: 0 auto;
  padding-top: 40px;
}

.map {
  margin-top: 20px;
  width: 85%;
  height: 300px;
}

h1 {
  margin: 20px;
  font-size: 40px;
}
